<% include partials/header %>

<main class="ui main text container">

    <header class="ui header">
        <h2><%= blog.title %></h2>
    </header>
    <article class="ui item segment">
        <span>By: <%= blog.author %> (<%= blog.created.toDateString() %>)</span>
        <img class="ui centered image" src="<%= blog.image %>" alt="Post Thumbnail">
        <div class="content">
            <p><%- blog.content %></p>
        </div>

        <footer class="ui footer">
            <a href="/blog/<%= blog._id %>/edit">Edit Post</a>
        </footer>
    </article>


</main>



<% include partials/footer %>